@import 'fonts';
@import 'colors';

html {
    scroll-behavior: smooth;
}

* {
    color: $white-color;
    padding: 0;
    margin: 0;
    font-family: 'poppins', Arial, Helvetica, sans-serif;
}

body {
    background-color: $primary-color;
    line-height: 1.5;
    padding-top: 70px;
}

a {
    text-decoration: none;
}

#about, #projects, #experience, #certifications, #education {
    scroll-margin-top: 100px;
}
@import 'components/header';

@import 'sections/about';
@import 'sections/projects';

